body {
    font-family: 'Lusitana', serif;
}

.container {
  display: grid;
  grid-template-rows: 50px minmax(400px, 800px) 50px;
  background: url('pattern.jpg') #FFF fixed center;
  max-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  border-bottom: 1px solid #EDF3F3;
  min-height: 3rem;
  background: #FFF;
}

.start {
  display: grid;
  grid-template-columns: 150px 150px;
  justify-content: flex-start;
  align-items: center;
  padding: 0 3rem;
}

.list {
  display: grid;
  grid-template-columns: 150px 50px;
  justify-content: flex-end;
  align-items: center;
  padding: 0 3rem;
}

a {
  text-decoration: none;
  color: #000;
}

h2 {
    display: grid;
    padding: 0;
    margin: 0;
}

main {
  position: fixed;
  top: 100px;
  left: 850px;
  display: grid;
  grid-template-rows: 150px 150px 150px 150px;
  justify-content: center;
  align-content: center;
}

.item {
  justify-self: center;
  align-self: center;
  margin-top: -60px;
}

form {
    display: grid;
    margin-top: -60px;
}

input[type="text"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="password"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=reset] {
    width: 100%;
    background-color: #A9B4B3;
    color: black;
    padding: 12px 20px;
    margin: 8px 0;
    border: #A9B4B3;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #6B7574;
}

button {
    width: 100%;
    background-color: #FFF;
    color: black;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  border-top: 1px solid #EDF3F3;
  min-height: 2rem;
  background: #FFF;
}